name: Build and deploy an app to AKS

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  AZURE_CONTAINER_REGISTRY: "prporegistry"
  CONTAINER_NAME: "location-app"
  RESOURCE_GROUP: "prpo_cluster123"
  CLUSTER_NAME: "prpo_cluster"
  DEPLOYMENT_MANIFEST_PATH: "../../deployment-app/deploy-app.yaml"
  NAMESPACE: "prpo_microservices"

jobs:
  buildImage:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      # Checkout repo
      - uses: actions/checkout@v4

      # Setup kubeconfig (from secret)
      - name: Setup kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.AKS_KUBECONFIG }}" > $HOME/.kube/config
          chmod 600 $HOME/.kube/config
      - name: Login to ACR
        run: |
         az acr login --name prporegistry
      
      # Build and push image to ACR
      - name: Build and push image
        run: |
          az acr build \
            --image ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io/${{ env.CONTAINER_NAME }}:${{ github.sha }} \
            --registry ${{ env.AZURE_CONTAINER_REGISTRY }} \
            -g ${{ env.RESOURCE_GROUP }} .

  deploy:
    permissions:
      actions: read
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    needs: [buildImage]
    steps:
      # Checkout repo
      - uses: actions/checkout@v4

      # Setup kubeconfig (same secret)
      - name: Setup kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.AKS_KUBECONFIG }}" > $HOME/.kube/config
          chmod 600 $HOME/.kube/config

      # Deploy application
      - name: Deploy to AKS
        run: |
          kubectl apply -f ${{ env.DEPLOYMENT_MANIFEST_PATH }} -n ${{ env.NAMESPACE }}
          kubectl set image deployment/${{ env.CONTAINER_NAME }} \
            ${{ env.CONTAINER_NAME }}=${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io/${{ env.CONTAINER_NAME }}:${{ github.sha }} \
            -n ${{ env.NAMESPACE }}
